Pacman: A fun game to kill time

Team Members: Damon Wingo, Gavin Cribb, Ronnie Shaw

Github: git@github.com:hotwing78/Pacman.git

Program Description: The player controls Pac-Man through a maze, eating pac-dots.
                     When all pac-dots are eaten, Pac-Man is taken to the next stage.
                     Four enemies (Blinky, Pinky, Inky and Clyde) roam the maze, trying to catch Pac-Man.

